<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);

        app.controller('myController', function ($scope) {
            $scope.selectedFile = null;
            $scope.imageSrc = '';
            var inputFile = document.getElementById('fileInput');

            $scope.handleFileSelect = function (event) {
                var files = event.target.files;
                if (files && files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $scope.$apply(function () {
                            $scope.imageSrc = e.target.result;
                        });
                    };

                    reader.readAsDataURL(files[0]);
                }
            };
        });
    </script>
</head>

<body ng-controller="myController">
    <input type="file" id="fileInput" onchange="angular.element(this).scope().handleFileSelect(event)">
    <img ng-src="{{ imageSrc }}" width="200" height="200" alt="Preview">
</body>

</html>